@import '../../variable.scss';
@import '../../mixin.scss';


.SideBar {
    padding: 12px;

    .SideBar_avatar {
        width: 46px;
        margin-left: 10px;

        div {
            @include avatar;
        }
    }
}

.sidebar_head {
    display: flex;
    justify-content: space-between;

    .sidebar_head_action {
        @include flex;
    }

    .namechat {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .sidebar_head_action_item {
        @include btn_border;

        &:hover {
            fill: black;
            background-color: $hover_color_light;
            transition: all ease-in 0.2s;
        }
    }

    .more_options {
        position: relative;

        .more_options_dropdown {
            visibility: hidden;
            z-index: 20;
            position: absolute;
            top: calc(100% + 6px);
            right: 0;
            min-width: 250px;
            max-width: 300px;
            border-radius: 12px;
            background-color: $bg_color_primary_light;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            overflow: hidden;

            .more_options_item {
                color: $font_color_light;
                text-decoration: none;
                display: flex;
                @include flex;
                cursor: pointer;

                .more_options_item_icon {
                    font-size: 1.6rem;
                    margin-right: 10px;
                    padding: 10px 8px;

                }

                p {
                    font-size: 1rem;
                }

                &:hover {
                    @include hover
                }
            }

            &.active {
                visibility: visible;
            }
        }

    }



}

.sidebar_search {
    margin-top: 16px;
}

.sidebar_chat {
    margin-top: 24px;
}