$bg_color_primary_light: #fff;
$font_color_light: #333;
$fontHover_color_light: #8d8c8c;
$line_color_light: #cfcfcf;
$hover_color_light: #ccc;
$notHover_color_light: #e6e4e4;
$left_bg_gradient_light: #7BD3EA;
$right_bg_gradient_light: #52D3D8;
$width_avatar: 160px;
$padding_frofile: 36px;
$padding_item_frofile: 10px;